contourpy==1.1.0 ; python_version >= "3.8" and python_full_version < "3.13.0"
cycler==0.11.0 ; python_version >= "3.8" and python_full_version < "3.13.0"
fonttools==4.41.1 ; python_version >= "3.8" and python_full_version < "3.13.0"
importlib-resources==6.0.0 ; python_version >= "3.8" and python_version < "3.10"
kiwisolver==1.4.4 ; python_version >= "3.8" and python_full_version < "3.13.0"
opencv-python-headless==4.8.0.74 ; python_version >= "3.8" and python_full_version < "3.13.0"
packaging==23.1 ; python_version >= "3.8" and python_full_version < "3.13.0"
pillow==10.0.1 ; python_version >= "3.8" and python_full_version < "3.13.0"
pyparsing==3.0.9 ; python_version >= "3.8" and python_full_version < "3.13.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_full_version < "3.13.0"
six==1.16.0 ; python_version >= "3.8" and python_full_version < "3.13.0"
zipp==3.16.2 ; python_version >= "3.8" and python_version < "3.10"
pytest==7.4.0 ; python_version >= "3.8" and python_full_version < "3.13.0"
# py12 effected package list
numpy
pyyaml
scipy
matplotlib