site_name: Supervision
site_url: https://roboflow.github.io/supervision
site_author: Roboflow
site_description: A set of easy-to-use utils that will come in handy in any Computer Vision project
repo_name: roboflow/supervision
repo_url: https://github.com/roboflow/supervision
edit_uri: https://github.com/roboflow/supervision/tree/main/docs
copyright: Roboflow 2023. All rights reserved.

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/roboflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/roboflow
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/roboflow-ai/mycompany/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/roboflow
  analytics:
    provider: google
    property: G-P7ZG0Y19G5

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Quickstart:
    - Detections: quickstart/detections.md
  - API reference:
    - Classifications:
        - Core: classification/core.md
    - Detections:
        - Core: detection/core.md
        - Annotate: detection/annotate.md
        - Utils: detection/utils.md
        - Tools:
            - Polygon Zone: detection/tools/polygon_zone.md
    - Dataset:
        - Core: dataset/core.md
    - Metrics:
      - Detection Models: metrics/detection.md
    - Draw:
        - Utils: draw/utils.md
    - Utils:
        - Video: utils/video.md
        - Image: utils/image.md
        - Notebook: utils/notebook.md
        - File: utils/file.md
  - Changelog: changelog.md

theme:
  name: 'material'
  logo: https://media.roboflow.com/open-source/supervision/supervision-lenny.png
  favicon: https://media.roboflow.com/open-source/supervision/supervision-lenny.png
  palette:
    # Palette for light mode
    - scheme: default
      primary: 'custom'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: 'custom'
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - mkdocstrings
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true