site_name: Supervision
site_url: https://supervision.roboflow.com/
site_author: Roboflow
site_description: A set of easy-to-use utilities that will come in handy in any computer vision project.
repo_name: roboflow/supervision
edit_uri: https://github.com/roboflow/supervision/tree/main/docs
copyright: Roboflow 2025. All rights reserved.

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/roboflow
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/supervision
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/roboflow
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/roboflow
    - icon: fontawesome/brands/discord
      link: https://discord.gg/GbfgXGJ8Bk
  analytics:
    provider: google
    property: G-P7ZG0Y19G5
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css
  - stylesheets/cookbooks_card.css

nav:
  - Home: index.md
  - Learn:
      - Detect and Annotate: how_to/detect_and_annotate.md
      - Save Detections: how_to/save_detections.md
      - Filter Detections: how_to/filter_detections.md
      - Detect Small Objects: how_to/detect_small_objects.md
      - Track Objects on Video: how_to/track_objects.md
      - Process Datasets: how_to/process_datasets.md
      - Benchmark a Model: how_to/benchmark_a_model.md
  - Reference:
      - Detection and Segmentation:
          - Core: detection/core.md
          - Annotators: detection/annotators.md
          - Converters: detection/utils/converters.md
          - IoU and NMS: detection/utils/iou_and_nms.md
          - Boxes: detection/utils/boxes.md
          - Masks: detection/utils/masks.md
          - Polygons: detection/utils/polygons.md
          - VLMs: detection/utils/vlms.md
      - Keypoint Detection:
          - Core: keypoint/core.md
          - Annotators: keypoint/annotators.md
      - Classification:
          - Core: classification/core.md
      - Tools:
          - Line Zone: detection/tools/line_zone.md
          - Polygon Zone: detection/tools/polygon_zone.md
          - Inference Slicer: detection/tools/inference_slicer.md
          - Detection Smoother: detection/tools/smoother.md
          - Save Detections: detection/tools/save_detections.md
      - Trackers: trackers.md
      - Datasets:
          - Core: datasets/core.md
          - Utils: datasets/utils.md
      - Metrics:
          - mAP: metrics/mean_average_precision.md
          - mAR: metrics/mean_average_recall.md
          - Precision: metrics/precision.md
          - Recall: metrics/recall.md
          - F1 Score: metrics/f1_score.md
          - Common Values: metrics/common_values.md
          - Legacy Metrics: detection/metrics.md
      - Utils:
          - Video: utils/video.md
          - Image: utils/image.md
          - Iterables: utils/iterables.md
          - Notebook: utils/notebook.md
          - File: utils/file.md
          - Draw: utils/draw.md
          - Geometry: utils/geometry.md
      - Assets: assets.md
  - Cookbooks: cookbooks.md
  - Changelog:
      - Changelog: changelog.md
      - Deprecated: deprecated.md

theme:
  name: "material"
  icon:
    edit: material/pencil
  logo: assets/supervision-lenny.png
  favicon: assets/supervision-lenny.png
  custom_dir: docs/theme
  features:
    - navigation.tracking
    - content.code.copy
    - content.action.edit
    - content.tooltips
    - content.code.annotate
    - navigation.tabs
    - navigation.tabs.sticky

  palette:
    # Palette for light mode
    - scheme: default
      primary: "custom"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: "custom"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Inter
    code: IBM Plex Mono

plugins:
  - search
  - mkdocs-jupyter:
      kernel_name: python3
      execute: false
      include_source: True
      include_requirejs: true
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            parameter_headings: true
            paths: [supervision]
            load_external_modules: true
            allow_inspection: true
            show_bases: true
            group_by_category: true
            docstring_style: google
            show_symbol_type_heading: true
            show_root_heading: True
            show_symbol_type_toc: true
            show_category_heading: true
          inventories:
          - url: https://docs.python-requests.org/en/master/objects.inv
            domains: [std, py]
  - git-committers:
      repository: roboflow/supervision
      branch: develop
      token: !ENV ["GITHUB_TOKEN"]
  - git-revision-date-localized:
      enable_creation_date: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - "javascripts/init_kapa_widget.js"
  - "javascripts/cookbooks-card.js"
  - "javascripts/segment.js"
  - "javascripts/mathjax.js"
  - "https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.8/purify.min.js"
  - "https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js"

# Messages shown during document build
# Reference: https://www.mkdocs.org/user-guide/configuration/#validation
# Values: [warn, info, ignore]
validation:
  nav:
    absolute_links: ignore
  links:
    absolute_links: ignore
