.repo-card {
    min-height: 130px;
}

.portfolio-section {
    padding-bottom: 1rem;
}

.md-typeset h1 {
    margin: 0 0 0.75rem;
}

.author-name {
  opacity: 0;
}

div:hover .author-name {
  opacity: 1;
}
